<ul>
  <li>Receita: <%= @recipe.name %></li>
  <li>Tempo de preparo: <%= @recipe.time_to_prepare %></li>
  <li>Ingredientes: <%= @recipe.ingredients %></li>
  <li>Tipo de receita: <%= @recipe.recipe_type %> </li>
</ul>